/* @font-face {
  font-family: 'Poppins';
  src:
    url('/fonts/Poppins-Regular.woff2') format('woff2'),
    url('/fonts/Poppins-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src:
    url('/fonts/Poppins-SemiBold.woff2') format('woff2'),
    url('/fonts/Poppins-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans Thai';
  src:
    url('/fonts/IBMPlexSansThai-Regular.woff2') format('woff2'),
    url('/fonts/IBMPlexSansThai-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans Thai';
  src:
    url('/fonts/IBMPlexSansThai-SemiBold.woff2') format('woff2'),
    url('/fonts/IBMPlexSansThai-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
} */
